#################################################################
# CONFIGURATION
#################################################################
[Make]

# Project name (with @ symbol)
project = @tmr

# Project PBO prefix ("none" if you don't want one)
prefix = none 

# Should we autodetect modules on a complete build?
module_autodetect = True

# Manual list of modules to build for a complete build
modules = tmr_core

# List of directories to ignore when detecting
ignore = release, devfiles_dnd, tmr_ai

# BI Tools work drive on Windows
work_drive = P:\

# Release/build directory, relative to script dir
release_dir = release

# Special configuration needed only for users building from Cygwin
cygwin_work_drive = /p/
cygwin_binpbo = /f/Games/Steam/steamapps/common/Arma 3 Tools/AddonBuilder.exe
cygwin_a3path = /c/Games/Arma 3
